* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #ECECEC;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	text-align: center;
	line-height: 24px;
}
#wrapper {
  position:relative;
  width: 80vw;
  height:80vh;
	background-color: #FFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-right: auto;
	margin-left: auto;
}
#wrapper div{
    
   
}

#red {
	background-color: #900;
    float: left;
    width:14vw;
    height:25vw;
    margin: 1.7%;
    padding: 2%;
    
}
#green {
	background-color: #090;
    float: left;
    width:14vw;
    height:25vw;
    margin: 1.7%;
    padding: 2%;
   
  
}
#blue {
	background-color: #00F;
    float: left;
    width:14vw;
    height:25vw;
    margin: 1.7%;
    padding: 2%;
    
}
#purple {
	background-color: #63C;
    float: left;
    width:14vw;
    height:25vw;
    margin: 1.7%;
    padding: 2%;
}
#footer {
	background-color: #666;
    position: relative;
    float:left;
    width:74vw;
    height:1vw;
    margin: 1.7%;
    padding: 2%;
}
h1 {
	color: #000;
	font-weight: normal;
	padding: 50px;

}