body{
    background-image:url(background.jfif);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
ul li{
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: circle;
    color:black;
    font-size: 14px;
    font-weight: 400;
    
}
h1{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-align: center;
    
}
ul li::marker{
    color: blue;
}
.bg{
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
ul li a{
    color:black;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    align-items: justify;
    margin-right: 10px;
}
h6{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
}
h2{

}

